.canvas {
  border: 1px solid black;
  margin: 4px;
  display: grid;
  gap: 0;

  .block {
    width: 8px;
    height: 8px;

    &.hovered {
      outline: 2px solid red;
      cursor: pointer;
    }
  }
}
